<!doctype html>
<html>
    <head>
        <title>WMA-Züg ufelade</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>WMA-Züg ufelade</h1>
            <form action="/upload/" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit">Gimer dr Text</button>
            </form>
            <br>
            <a href="/logout">Usloggä</a>
        </div>
    </body>
</html>
